@model dynamic

@{
    ViewBag.Title = "Event log";
}
<style type="text/css">
    .event {
        border-color: #428bca;
        border-width: 2px;
    }
    .action {
        border-color: #449d44;
        border-width: 2px;
    }
</style>
<h2>Event log</h2>
<ul class="list-group" data-bind="foreach:events" id="bindingTarget">
    <li class="list-group-item" data-bind="css: { 'event': type()=='event', 'action': type()=='action' }">
        <span data-bind="text:description"></span>
        <table>
            <tbody data-bind="foreach:parameters">
            <tr>
                <td style="font-weight:bold" data-bind="text:name"></td>
                <td data-bind="text:value"></td>
            </tr>
            </tbody>
        </table>
    </li>
</ul>

<script type="text/javascript">
    var viewModel = new EventLogViewModel();

    ko.applyBindings(viewModel, document.getElementById("bindingTarget"));
</script>

<script type="text/javascript">
    var SomeEvent = function (data, type) {
        var self = this;

        self.type = ko.observable(type);
        self.description = ko.observable(data.Application);
        self.parameters = ko.observableArray([]);

        var items = Array();
        ko.utils.arrayForEach(data.Parameters, function (item) {
            items.push(new ParameterViewModel(item));
        });

        self.parameters(items);
    };

    $(function () {
        // Declare a proxy to reference the hub.
        var chat = $.connection.eventLogHub;

        chat.client.newEvent = function (event) {
            var data = JSON.parse(event);
            console.log(data);
            viewModel.events.unshift(new SomeEvent(data, "event"));
        };

        chat.client.newAction = function(action) {
            var data = JSON.parse(action);
            console.log(data);
            viewModel.events.unshift(new SomeEvent(data, "action"));
        };

        // Start the connection.
        $.connection.hub.start().done(function () {
            console.log("hub started");
        });
    });
</script>
