@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-2">
        <h2>Events</h2>
        <div class="list-group">
            <a href="#" class="list-group-item">Mail received</a>
            <a href="#" class="list-group-item">Chatr message</a>
            <a href="#" class="list-group-item">File received</a>
            <a href="#" class="list-group-item">RAM run completed</a>
        </div>
    </div>
    <div class="col-md-8">
        
    </div>
    <div class="col-md-2 text-right">
        <h2>Actions</h2>
        <div class="list-group text-left">
            <a href="#" class="list-group-item">Send Chatr message</a>
            <a href="#" class="list-group-item">Send e-mail</a>
            <a href="#" class="list-group-item">Copy file</a>
            <a href="#" class="list-group-item">Start LQA assessment</a>
        </div>
    </div>
</div>