@model dynamic

@{
    ViewBag.Title = "Current flows";
}
<h2>My flows</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td>IF</td>
            <td>THEN</td>
            <td>THAT</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Files received</td>
            <td></td>
            <td>Send Chatr message</td>
        </tr>
    </tbody>
</table>