@model dynamic

@{
    ViewBag.Title = "Current flows";
}
<h2>My flows</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>IF</th>
            <th></th>
            <th>THAT</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Files received</td>
            <td><strong>then</strong></td>
            <td>Send Chatr message</td>
        </tr>
    </tbody>
</table>