@model dynamic

@{
    ViewBag.Title = "New";
}
<style type="text/css">
    .inset {
        padding: 2px;
    }
     .bordercrap {
         border: 1px solid #e1e1e8;
         border-radius: 4px;
         padding: 0 4px 2px 4px;
     }
</style>
<div>
    <div class="col-md-2">
        <h2>If:</h2></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-2">
        <h2>Then:</h2></div>
</div>
<div class="row" id="bindingTarget">
    <div class="col-md-2">
        <input type="text" placeholder="Search event" class="form-control"/>
        <div class="list-group" data-bind="foreach: events">
            <a href="#" class="list-group-item" data-bind="text: name, click: $root.handleEventClick, css: { active: isSelected }"></a>
        </div>
    </div>
    <div class="col-md-4 inset">
        <div class="bordercrap" data-bind ="with: selectedEvent, visible: selectedEvent">
            <h4>Event parameters</h4>
            <div data-bind ="foreach:parameters">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1" data-bind ="text:description"></span>
                    <input type="text" class="form-control" data-bind="name: name, value: value" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 inset">
        <div class="bordercrap" data-bind="with: selectedAction, visible: selectedAction">
            <h4>Action parameters</h4>
            <div data-bind="foreach:parameters">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1" data-bind="text:description"></span>
                    <input type="text" class="form-control" data-bind="name: name, value: value" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 text-right">
        <input type="text" placeholder="Search action" class="form-control"/>
        <div class="list-group text-left" data-bind="foreach: actions">
            <a href="#" class="list-group-item" data-bind="text:name, click: $root.handleActionClick, css: { active: isSelected }"></a>
        </div>
    </div>
</div>

<script type="text/javascript">
    var viewModel = new NewFlowViewModel("@Url.Action("List", "Events")", "@Url.Action("List", "Actions")");
    viewModel.load();
    ko.applyBindings(viewModel, document.getElementById("bindingTarget"));
</script>