<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="goForItWebUrl" value="http://localhost:2782/"/>
    <add key="eventApiUrl" value="/api/event"/>
  </appSettings>
</configuration>